/01-Docker-Terraform/ny_taxi_postgres_data
/01-Docker-Terraform/terrademo/keys
*.csv
*.gz
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**logs/
**.env
serving_dir
.ipynb_checkpoints/

02-Workflow-Ochestration/nodal-empire-447803-h7-a27dde3aa7d4.json
02-Workflow-Ochestration/gcp_kv.yaml
03-Data-Warehouse/homework/load_yellow_taxi_sct.py
*.parquet
